<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>

      <div class="footer-col">
        <p>Address: 26, Kyungheedae-ro, Dongdaemun-gu, Seoul (02447)</p>
        <p>TEL: +82-02-961-0373</p>
        <p>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        <p>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
